body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-width: 1140px;
}

header {
  background-image: url(../images/bg.png);
  background-size: cover;
  height: 940px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo {
  transition: 0.3s;
}

.header__logo:hover {
  transform: scale(1.03);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header__top {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px
}

.header__top,
.header__nav {
  color: #fff
}

.header__wrap-tel {
  display: flex;
  align-items: center;
}

.header__text-tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-right: 19px;
  width: 226px;
}

.header__tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  width: 215px;
  height: 44px;
  background-color: #886239;
  border-radius: 22px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .3s;

}

.header__tel:hover {
  transform: scale(1.09);
}

/* ------------------------------- */
.header__nav-list {
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 24px;
}

/* ------------------------------- */
.header__main {
  display: flex;
  flex-direction: column;

}

.header__list-item {
  transition: .3s;
  color: #fff;
}

.header__list-item:hover {
  transform: scale(1.09);
}

.header__main-title {
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 400px;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;

}

/* ------------------------------- */
.header__paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
}

.header__main-btn {
  background-color: #886239;
  border-radius: 30px;
  text-align: center;
  transition: .3s;

  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  height: 60px;
  color: #fff;
}

.header__main-btn:hover {
  transform: scale(1.09);
}

/* ------------------------------- */
.countries__box {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 33px;
}

.countries__photos {
  border: 1px solid #D9D9DE;
  transition: .3s;
  display: block;

  width: 256px;
  height: 160px;
}

.countries__photos:hover {
  transform: scale(1.09);
}

.countries__img {
  width: 100%;

}

.countries__text {
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* ------------------------------- */
.container-for-photo {
  background-color: #886239;
  height: 582px;

}

.ways__title {
  display: block;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 52px;
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
}

.ways__box {
  display: grid;
  grid-template: repeat(2, auto)/repeat(4, auto);
  font-weight: 400;
  color: #fff;
}

.ways__link {
  display: inline-block;
  margin-bottom: 67px;
  transition: .3s;
}

.ways__link:hover {
  transform: scale(1.09);
}

.ways_img {
  display: block;
  padding-bottom: 36px;
}

/* ------------------------------- */
.information__box {
  display: grid;
  gap: 32px;
  grid-template-areas:
    "box1 box2 box3 box3"
    "box4 box5 box3 box3"
    "box6 box6 box7 box8"
    "box6 box6 box9 box10"
  ;
  color: #fff;
  padding-bottom: 82px;
  border-bottom: 2px solid #D9D9DE;
}


.box1 {
  grid-area: box1;
  height: 256px;
  width: 256px;
  background-image: url(../images/Rectangle25.png);
  font-size: 18px;

}

.box2 {
  grid-area: box2;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle44.png);
}

.box3 {
  grid-area: box3;
  font-size: 24px;
  background-image: url(../images/Rectangle34.png);
}

.box4 {
  grid-area: box4;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle63.png);
}

.box5 {
  grid-area: box5;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle64.png);
}

.box6 {
  grid-area: box6;
  font-size: 24px;
  background-image: url(../images/Rectangle69.png);
}

.box7 {
  grid-area: box7;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle65.png);
}

.box8 {
  grid-area: box8;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle67.png);
}

.box9 {
  grid-area: box9;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle66.png);
}

.box10 {
  grid-area: box10;
  height: 256px;
  width: 256px;
  font-size: 18px;
  background-image: url(../images/Rectangle68.png);
}

/* ------------------------------- */
.information__link {
  display: block;

  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: .3s;

}

.information__link span {
  font-size: 16px;
}

.information__link:hover {
  transform: scale(1.09);
}

.information__title {
  display: block;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
}

/* ------------------------------- */
.map__title {
  display: block;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
}

.map__img-cont {
  padding-bottom: 104px;
}

.map__frame {
  width: 100%;
  height: 700px;
}

/* ------------------------------- */
.about__title {
  display: block;



  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
  margin-bottom: 40px;
}

.about__box {
  display: flex;
  justify-content: space-between;
}

.about__img-box {
  height: 400px;
  width: 640px;
  position: relative;
}

.about__img {
  width: 100%;

}

.about__text-box {
  width: 448px;
  padding-right: 15px;
}

/* ------------------------------- */
.container-photos {
  background-color: #886239;
  height: 785px;
}

.photos__title {
  margin-bottom: 35px;
  padding-top: 45px;
  display: block;



  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;

}

.photos__img-box {
  display: grid;
  gap: 30px;
  grid: repeat(2, auto)/repeat(3, auto);
  width: 100%;
}

.slider {
  width: 100%;
}

.container-photos {
  margin-top: 100px;
}

/* ------------------------------- */
.premium__text {
  display: flex;
  justify-content: space-between;
  font-size: 18px;

}


.premium {
  padding-bottom: 85px;
  padding-top: 100px;
  border-bottom: 1px solid #D9D9DE;
}

.premium__title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-bottom: 75px;

  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
}

.premium-p {
  width: 500px;
}

/* ------------------------------- */
.numbers__item {
  text-align: center;
  transition: .3s;
}

.numbers__list {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 100px;
}

.numbers__item span {
  color: #886239;
  font-weight: 700;
  font-size: 58px;
  font-family: serif;

}

.numbers__item:hover {
  transform: scale(1.09);
}


/* ------------------------------- */
.container__form {
  background-color: #EAEAEA;
  height: 552px;
}

.form__wrapst {
  display: flex;
  justify-content: space-between;

}

.form__name {
  height: 44px;
  width: 256px;
  padding-left: 14px;

}

.form__tel {
  height: 44px;
  width: 256px;
  padding-left: 14px;
}

.form__mail {
  height: 44px;
  width: 256px;
  padding-left: 14px;


}

.container__inner {
  width: 830px;
  height: 310px;
  margin: 0 auto;
}

.form__title {

  display: block;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 55px;

  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
}

.form__big {
  width: 100%;
  height: 112px;
  resize: none;
  padding-left: 14px;
  padding-top: 10px;
}

.form__boxbig {
  padding-top: 30px;
}

.form__btn-wrap {
  background-color: #886239;
  border-radius: 30px;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  height: 60px;
  color: #fff;
  transition: .3s;
}

.form__btn-wrap:hover {
  transform: scale(1.09);
}

.form__btns {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__btnnd {
  text-decoration: underline #000;
}

.form__btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__link-s {
  text-decoration: underline;

}

.form__chkbx {
  height: 20px;
  width: 20px;
  transform: translateY(4px);
  margin-right: 10px;

}

/* ------------------------------- */
.container__footer {
  background-color: #000;
  height: 350px;
}

.footer__img-box {
  display: flex;
  justify-content: space-around;
  padding-top: 82px;

}

.footer__link-logo {
  transition: .3s;
}

.footer__link-logo:hover {
  transform: scale(1.09);
}

.footer__adress-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.footer__1 {
  height: 64px;
  width: 225px;
}

.footer__2 {
  height: 64px;
  width: 164px;
}

.footer__3 {
  height: 64px;
  width: 210px;
}

.footer__link-a {
  text-decoration: underline #fff;
}
